extends ../layout

block content

    form(action="/docente/new_docente", method= "POST")
        .container.py-2
            .row
                .col-12.py-2
                    h2= title
                .col-md-6.col-12
                    label.form-label(for="nombre_docente") Nombre
                    input#name.form-control(type="text",name="nombre_docente")
                //- .col-md-6.col-12
                //-     label.form-label(for="materias") Materia
                //-     select#name.form-control(type="text",name="materias")
                //-         option(value="1") Ingles I
                //-         -for(let i = 0; i < materias.length; i++)
                //-             option(value=materias[i].id)=materias[i].materia

                .col-md-12.col-12.py-2
                    button.btn.btn-primary(type="submit") Crear
                    a.btn.btn-secondary(href="/docente") Cancelar