extends ../layout

block content
    .container.py-2
        .row
            .col-12.py-2
                h2= title
            .col-12.py-2
                table.table
                    thead
                        tr
                            th(scope='col') #
                            th(scope='col') Nombre

                    tbody
                        -for(let i = 0; i < materias.length; i++)
                            tr
                                th(scope='row')=materias[i].id
                                td=materias[i].materia



            .col-12.py-2
                a.btn.btn-primary(href="/materias/new_materias") Nueva Materia